.container{
	background: #E3E2E9;
	width: 1000px;
	
}


.item{
	background: #fff;
	min-height: 500px;
	margin: 15px 0px;
}

.main{
	padding-top: 25px;
	padding-right: 25px;
	text-align: right;
	background: url(img/car.jpg) no-repeat;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

.little{
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.icon{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 30px;
	overflow: hidden;
	vertical-align: end;
}

img{
	max-width: 100%;
}

h1, h5, h6{
	padding-left: 20px;
}
